In [1]:
import requests
import pandas as pd
import numpy as np
from IPython.display import display
from bs4 import BeautifulSoup
import re
from requests_futures.sessions import FuturesSession
import datetime
from Data.data_country import *

In [2]:
TOP_UNI_URL = "https://www.topuniversities.com"
start = datetime.datetime.now()

In [3]:
r = requests.get('https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051_indicators.txt')
json = r.json()['data']
#print(json)

In [4]:
def getLink(x):
    soup = BeautifulSoup(x, 'html.parser')
    link = soup.find("a")
    return pd.Series([TOP_UNI_URL + link.get("href"),link.text],index = ['url','name'])

In [5]:
df = pd.DataFrame(json)
df = df[['region','overall_rank','location','uni']]
df_temp = df.apply(lambda x: getLink(x['uni']),axis = 1)
df = df.drop('uni',1)
df = df.join(df_temp)

display(df)

,region,overall_rank,location,url,name
0,North America,1,United States,https://www.topuniversities.com/universities/m...,Massachusetts Institute of Technology (MIT)
1,North America,2,United States,https://www.topuniversities.com/universities/s...,Stanford University
2,North America,3,United States,https://www.topuniversities.com/universities/h...,Harvard University
3,North America,4,United States,https://www.topuniversities.com/universities/c...,California Institute of Technology (Caltech)
4,Europe,5,United Kingdom,https://www.topuniversities.com/universities/u...,University of Cambridge
5,Europe,6,United Kingdom,https://www.topuniversities.com/universities/u...,University of Oxford
6,Europe,7,United Kingdom,https://www.topuniversities.com/universities/u...,UCL (University College London)
7,Europe,8,United Kingdom,https://www.topuniversities.com/universities/i...,Imperial College London
8,North America,9,United States,https://www.topuniversities.com/universities/u...,University of Chicago
9,Europe,10,Switzerland,https://www.topuniversities.com/universities/e...,ETH Zurich - Swiss Federal Institute of Techno...
10,Asia,11,Singapore,https://www.topuniversities.com/universities/n...,"Nanyang Technological University, Singapore (NTU)"
11,Europe,12,Switzerland,https://www.topuniversities.com/universities/e...,Ecole Polytechnique Fédérale de Lausanne (EPFL)
12,North America,13,United States,https://www.topuniversities.com/universities/p...,Princeton University
13,North America,14,United States,https://www.topuniversities.com/universities/c...,Cornell University
14,Asia,15,Singapore,https://www.topuniversities.com/universities/n...,National University of Singapore (NUS)
15,North America,16,United States,https://www.topuniversities.com/universities/y...,Yale University
16,North America,17,United States,https://www.topuniversities.com/universities/j...,Johns Hopkins University
17,North America,18,United States,https://www.topuniversities.com/universities/c...,Columbia University
18,North America,19,United States,https://www.topuniversities.com/universities/u...,University of Pennsylvania
19,Oceania,20,Australia,https://www.topuniversities.com/universities/a...,The Australian National University
20,North America,21,United States,https://www.topuniversities.com/universities/d...,Duke University
21,North America,21,United States,https://www.topuniversities.com/universities/u...,University of Michigan
22,Europe,23,United Kingdom,https://www.topuniversities.com/universities/k...,King's College London
23,Europe,23,United Kingdom,https://www.topuniversities.com/universities/u...,The University of Edinburgh
24,Asia,25,China,https://www.topuniversities.com/universities/t...,Tsinghua University
25,Asia,26,Hong Kong,https://www.topuniversities.com/universities/u...,The University of Hong Kong
26,North America,27,United States,https://www.topuniversities.com/universities/u...,"University of California, Berkeley (UCB)"
27,North America,28,United States,https://www.topuniversities.com/universities/n...,Northwestern University
28,Asia,28,Japan,https://www.topuniversities.com/universities/u...,The University of Tokyo
29,Asia,30,Hong Kong,https://www.topuniversities.com/universities/h...,The Hong Kong University of Science and Techno...
...,...,...,...,...,...
950,Africa,951,South Africa,https://www.topuniversities.com/universities/u...,University of the Western Cape
951,Europe,952,Poland,https://www.topuniversities.com/universities/u...,University of Wroclaw
952,Europe,953,France,https://www.topuniversities.com/universities/u...,Université de Toulouse II-Le Mirail
953,North America,954,United States,https://www.topuniversities.com/universities/u...,Utah State University
954,Europe,955,Italy,https://www.topuniversities.com/universities/v...,Verona University
955,Europe,956,Russia,https://www.topuniversities.com/universities/v...,Voronezh State University
956,Europe,957,Lithuania,https://www.topuniversities.com/universities/v...,Vytautas Magnus University
957,Europe,958,Romania,https://www.topuniversities.com/universities/u...,Universitatea de Vest din Timisoara / West Un...
958,Europe,959,Poland,https://www.topuniversities.com/universities/w...,Wroclaw University of Technology
959,North America,960,United States,https://www.topuniversities.com/universities/b...,Baylor College of Medicine
960,Europe,961,Norway,https://www.topuniversities.com/universities/b...,BI Norwegian Business School
961,Asia,962,South Korea,https://www.topuniversities.com/universities/c...,Chung-Ang University (CAU)
962,Europe,963,Denmark,https://www.topuniversities.com/universities/c...,Copenhagen Business School
963,Europe,964,United Kingdom,https://www.topuniversities.com/universities/c...,Cranfield University
964,Europe,965,France,https://www.topuniversities.com/universities/e...,ESCP Europe - Paris
965,Europe,966,France,https://www.topuniversities.com/universities/e...,ESSEC Business School
966,Europe,967,Germany,https://www.topuniversities.com/universities/e...,EBS Business School
967,Europe,968,France,https://www.topuniversities.com/universities/h...,HEC Paris School of Management
968,Europe,969,France,https://www.topuniversities.com/universities/i...,INSEAD
969,Asia,970,India,https://www.topuniversities.com/universities/j...,Jawaharlal Nehru University
970,Europe,971,Sweden,https://www.topuniversities.com/universities/k...,Karolinska Institutet
971,Asia,972,Saudi Arabia,https://www.topuniversities.com/universities/k...,King Abdullah University of Science & Technology
972,Europe,973,United Kingdom,https://www.topuniversities.com/universities/l...,London Business School
973,Europe,974,Sweden,https://www.topuniversities.com/universities/s...,Stockholm School of Economics
974,Europe,975,Italy,https://www.topuniversities.com/universities/b...,Bocconi University
975,Europe,976,France,https://www.topuniversities.com/universities/u...,Université de Technologie de Compiègne (UTC)
976,North America,977,United States,https://www.topuniversities.com/universities/u...,"University of California, San Francisco"
977,Europe,978,Czech Republic,https://www.topuniversities.com/universities/u...,"University of Economics, Prague"
978,Asia,979,Israel,https://www.topuniversities.com/universities/w...,Weizmann Institute of Science
979,Europe,980,Germany,https://www.topuniversities.com/universities/w...,WHU - Otto Beisheim School of Management

In [6]:
def find_number(soup, list_dict_div):
    current_soup = soup
    for dict_div in list_dict_div:
        current_soup = current_soup.find("div",dict_div)
        if(current_soup is None):
            return 0
    return int(current_soup.text.replace(",", ""))

In [7]:
def getExtraData(x):
    #print(x)
    #r_t = requests.get(x)
    soup = BeautifulSoup(x.text, 'html.parser')

    total_faculty_int = find_number(soup, [{ "class" : "faculty-main wrapper col-md-4" },{ "class" : "total faculty"}, { "class" : "number"}])
    inter_faculty_int = find_number(soup, [{ "class" : "faculty-main wrapper col-md-4" },{ "class" : "inter faculty"}, { "class" : "number"}])
    number_students_int = find_number(soup, [{"class": "students-main wrapper col-md-4"}, { "class" : "number"}])
    international_students_int = find_number(soup, [{"class": "int-students-main wrapper col-md-4"}, { "class" : "number"}])

    return pd.DataFrame(data = [[total_faculty_int,inter_faculty_int,number_students_int,international_students_int]], columns = ['total faculty','international faculty','number of students','international students'])

def async_getExtraData(sess,x):
    return getExtraData(x)

In [8]:
df = df.head(200)

df_temp = df[['url']]

#display(df_temp)
urls = df_temp.values.tolist()
urls = [item for sublist in urls for item in sublist]
#print(urls)

session = FuturesSession(max_workers=10)
futures = []
results =[]

for url in urls:
    future = session.get(url)
    futures.append((url,future))

for url,r in futures:
    results.append((url,r.result()))

In [9]:
list_dataframe = []

for url,result in results:
    list_dataframe.append(pd.concat([getExtraData(result),pd.DataFrame(data = [url],columns=['url'])],axis = 1))
    
print('done')

done

In [10]:
df_temp = pd.concat(list_dataframe)
display(df_temp)

,total faculty,international faculty,number of students,international students,url
0,2982,1679,11067,3717,https://www.topuniversities.com/universities/m...
0,4285,2042,15878,3611,https://www.topuniversities.com/universities/s...
0,4350,1311,22429,5266,https://www.topuniversities.com/universities/h...
0,953,350,2255,647,https://www.topuniversities.com/universities/c...
0,5490,2278,18770,6699,https://www.topuniversities.com/universities/u...
0,6750,2964,19720,7353,https://www.topuniversities.com/universities/u...
0,6345,2554,31080,14854,https://www.topuniversities.com/universities/u...
0,3930,2071,16090,8746,https://www.topuniversities.com/universities/i...
0,2449,635,13557,3379,https://www.topuniversities.com/universities/u...
0,2477,1886,19815,7563,https://www.topuniversities.com/universities/e...
0,4338,2993,25738,7251,https://www.topuniversities.com/universities/n...
0,1695,1300,10343,5896,https://www.topuniversities.com/universities/e...
0,1007,246,8069,1793,https://www.topuniversities.com/universities/p...
0,2718,970,21904,5411,https://www.topuniversities.com/universities/c...
0,5106,3086,32728,8917,https://www.topuniversities.com/universities/n...
0,4940,1708,12402,2469,https://www.topuniversities.com/universities/y...
0,4462,1061,16146,4105,https://www.topuniversities.com/universities/j...
0,6189,913,25045,8105,https://www.topuniversities.com/universities/c...
0,5499,1383,20639,4250,https://www.topuniversities.com/universities/u...
0,1600,927,14442,5551,https://www.topuniversities.com/universities/a...
0,2938,226,15320,2864,https://www.topuniversities.com/universities/d...
0,6809,1920,43147,7527,https://www.topuniversities.com/universities/u...
0,3650,1513,23780,9451,https://www.topuniversities.com/universities/k...
0,4075,1553,28040,10551,https://www.topuniversities.com/universities/u...
0,5506,932,36300,4072,https://www.topuniversities.com/universities/t...
0,3012,2085,20214,8230,https://www.topuniversities.com/universities/u...
0,3321,1395,36703,6086,https://www.topuniversities.com/universities/u...
0,4231,1141,18675,3422,https://www.topuniversities.com/universities/n...
0,4514,254,27279,2639,https://www.topuniversities.com/universities/u...
0,1150,835,10375,2921,https://www.topuniversities.com/universities/h...
...,...,...,...,...,...
0,1966,413,23214,3897,https://www.topuniversities.com/universities/a...
0,466,4,7477,80,https://www.topuniversities.com/universities/i...
0,1062,665,6040,989,https://www.topuniversities.com/universities/k...
0,2390,717,22065,7502,https://www.topuniversities.com/universities/u...
0,2509,487,21560,1899,https://www.topuniversities.com/universities/u...
0,1328,546,24207,7769,https://www.topuniversities.com/universities/u...
0,529,137,3877,1132,https://www.topuniversities.com/universities/c...
0,5419,504,45485,4597,https://www.topuniversities.com/universities/u...
0,876,19,9402,93,https://www.topuniversities.com/universities/i...
0,910,299,9332,2235,https://www.topuniversities.com/universities/u...
0,3678,641,30402,3736,https://www.topuniversities.com/universities/u...
0,706,172,17479,5199,https://www.topuniversities.com/universities/v...
0,1968,109,26572,966,https://www.topuniversities.com/universities/u...
0,3685,566,30219,2679,https://www.topuniversities.com/universities/u...
0,1792,515,9284,1853,https://www.topuniversities.com/universities/v...
0,2569,488,9636,2805,https://www.topuniversities.com/universities/u...
0,2738,181,26511,2976,https://www.topuniversities.com/universities/u...
0,2990,153,63399,4195,https://www.topuniversities.com/universities/a...
0,1280,422,13330,4077,https://www.topuniversities.com/universities/u...
0,423,0,4071,47,https://www.topuniversities.com/universities/i...
0,1733,379,19593,3325,https://www.topuniversities.com/universities/u...
0,3905,261,33500,2178,https://www.topuniversities.com/universities/k...
0,86,1,532,48,https://www.topuniversities.com/universities/s...
0,119,1,789,135,https://www.topuniversities.com/universities/s...
0,2154,646,28281,2636,https://www.topuniversities.com/universities/s...
0,4913,669,34029,4929,https://www.topuniversities.com/universities/t...
0,3446,206,60294,4900,https://www.topuniversities.com/universities/t...
0,2187,230,31986,3848,https://www.topuniversities.com/universities/u...
0,1822,821,13376,1412,https://www.topuniversities.com/universities/i...
0,1277,502,16385,8234,https://www.topuniversities.com/universities/m...

In [11]:
df = df.merge(df_temp, left_on='url', right_on='url', how='outer')
df = df.drop('url', 1)

In [12]:
display(df)

,region,overall_rank,location,name,total faculty,international faculty,number of students,international students
0,North America,1,United States,Massachusetts Institute of Technology (MIT),2982,1679,11067,3717
1,North America,2,United States,Stanford University,4285,2042,15878,3611
2,North America,3,United States,Harvard University,4350,1311,22429,5266
3,North America,4,United States,California Institute of Technology (Caltech),953,350,2255,647
4,Europe,5,United Kingdom,University of Cambridge,5490,2278,18770,6699
5,Europe,6,United Kingdom,University of Oxford,6750,2964,19720,7353
6,Europe,7,United Kingdom,UCL (University College London),6345,2554,31080,14854
7,Europe,8,United Kingdom,Imperial College London,3930,2071,16090,8746
8,North America,9,United States,University of Chicago,2449,635,13557,3379
9,Europe,10,Switzerland,ETH Zurich - Swiss Federal Institute of Techno...,2477,1886,19815,7563
10,Asia,11,Singapore,"Nanyang Technological University, Singapore (NTU)",4338,2993,25738,7251
11,Europe,12,Switzerland,Ecole Polytechnique Fédérale de Lausanne (EPFL),1695,1300,10343,5896
12,North America,13,United States,Princeton University,1007,246,8069,1793
13,North America,14,United States,Cornell University,2718,970,21904,5411
14,Asia,15,Singapore,National University of Singapore (NUS),5106,3086,32728,8917
15,North America,16,United States,Yale University,4940,1708,12402,2469
16,North America,17,United States,Johns Hopkins University,4462,1061,16146,4105
17,North America,18,United States,Columbia University,6189,913,25045,8105
18,North America,19,United States,University of Pennsylvania,5499,1383,20639,4250
19,Oceania,20,Australia,The Australian National University,1600,927,14442,5551
20,North America,21,United States,Duke University,2938,226,15320,2864
21,North America,21,United States,University of Michigan,6809,1920,43147,7527
22,Europe,23,United Kingdom,King's College London,3650,1513,23780,9451
23,Europe,23,United Kingdom,The University of Edinburgh,4075,1553,28040,10551
24,Asia,25,China,Tsinghua University,5506,932,36300,4072
25,Asia,26,Hong Kong,The University of Hong Kong,3012,2085,20214,8230
26,North America,27,United States,"University of California, Berkeley (UCB)",3321,1395,36703,6086
27,North America,28,United States,Northwestern University,4231,1141,18675,3422
28,Asia,28,Japan,The University of Tokyo,4514,254,27279,2639
29,Asia,30,Hong Kong,The Hong Kong University of Science and Techno...,1150,835,10375,2921
...,...,...,...,...,...,...,...,...
170,Europe,171,Germany,Albert-Ludwigs-Universitaet Freiburg,1966,413,23214,3897
171,Asia,172,India,Indian Institute of Technology Delhi (IITD),466,4,7477,80
172,Asia,173,Saudi Arabia,King Fahd University of Petroleum & Minerals,1062,665,6040,989
173,Europe,173,United Kingdom,University of Liverpool,2390,717,22065,7502
174,North America,173,United States,University of Virginia,2509,487,21560,1899
175,Oceania,176,Australia,University of Technology Sydney,1328,546,24207,7769
176,Europe,177,France,CentraleSupélec,529,137,3877,1132
177,North America,178,United States,University of Florida,5419,504,45485,4597
178,Asia,179,India,Indian Institute of Technology Bombay (IITB),876,19,9402,93
179,Europe,179,Netherlands,University of Twente,910,299,9332,2235
180,Europe,181,Germany,University of Göttingen,3678,641,30402,3736
181,Europe,182,Austria,Vienna University of Technology,706,172,17479,5199
182,Latin America,182,Brazil,Universidade Estadual de Campinas (Unicamp),1968,109,26572,966
183,North America,182,United States,University of Colorado Boulder,3685,566,30219,2679
184,Europe,182,Belgium,Vrije Universiteit Brussel (VUB),1792,515,9284,1853
185,North America,186,United States,University of Rochester,2569,488,9636,2805
186,Europe,187,Spain,Universidad Autónoma de Madrid,2738,181,26511,2976
187,Europe,188,Italy,Alma Mater Studiorum - University of Bologna,2990,153,63399,4195
188,Europe,188,United Kingdom,University of Reading,1280,422,13330,4077
189,Asia,190,India,Indian Institute of Science (IISc) Bangalore,423,0,4071,47
190,Africa,191,South Africa,University of Cape Town,1733,379,19593,3325
191,Asia,192,Japan,Keio University CEMS MIM,3905,261,33500,2178
192,Europe,192,Italy,Scuola Normale Superiore di Pisa,86,1,532,48
193,Europe,192,Italy,Scuola Superiore Sant'Anna Pisa di Studi Unive...,119,1,789,135
194,Europe,195,Sweden,Stockholm University,2154,646,28281,2636
195,Europe,281,Germany,Technische Universität Dresden,4913,669,34029,4929
196,North America,195,United States,Texas A&M University,3446,206,60294,4900
197,Europe,195,Spain,Universitat Autònoma de Barcelona,2187,230,31986,3848
198,Latin America,199,Mexico,Instituto Tecnológico y de Estudios Superiores...,1822,821,13376,1412
199,Europe,200,Netherlands,Maastricht University,1277,502,16385,8234

In [13]:
def display_ratio(df):
    df_ratio = df.copy()
    
    df_ratio['ratio'] = df_ratio['total faculty'] / df_ratio['number of students']
    df_ratio = df_ratio.sort_values('ratio',ascending=False)
    display(df_ratio)
    
    df_ratio['ratio'] = df_ratio['international students'] / df_ratio['number of students']
    df_ratio = df_ratio.sort_values('ratio',ascending=False)
    display(df_ratio)

### a ,b)

In [14]:
display_ratio(df)

,region,overall_rank,location,name,total faculty,international faculty,number of students,international students,ratio
3,North America,4,United States,California Institute of Technology (Caltech),953,350,2255,647,0.422616
15,North America,16,United States,Yale University,4940,1708,12402,2469,0.398323
5,Europe,6,United Kingdom,University of Oxford,6750,2964,19720,7353,0.342292
4,Europe,5,United Kingdom,University of Cambridge,5490,2278,18770,6699,0.292488
16,North America,17,United States,Johns Hopkins University,4462,1061,16146,4105,0.276353
1,North America,2,United States,Stanford University,4285,2042,15878,3611,0.269870
0,North America,1,United States,Massachusetts Institute of Technology (MIT),2982,1679,11067,3717,0.269450
185,North America,186,United States,University of Rochester,2569,488,9636,2805,0.266604
18,North America,19,United States,University of Pennsylvania,5499,1383,20639,4250,0.266437
17,North America,18,United States,Columbia University,6189,913,25045,8105,0.247115
7,Europe,8,United Kingdom,Imperial College London,3930,2071,16090,8746,0.244251
116,Europe,116,Denmark,Technical University of Denmark,2117,966,8878,2098,0.238455
72,Europe,73,Denmark,University of Copenhagen,7483,2336,32119,3683,0.232977
27,North America,28,United States,Northwestern University,4231,1141,18675,3422,0.226560
94,Europe,95,Russia,Lomonosov Moscow State University,6709,373,30233,5098,0.221910
71,Asia,71,South Korea,Pohang University of Science And Technology (P...,664,113,3117,126,0.213025
58,Europe,59,France,Ecole Polytechnique,649,259,3126,924,0.207614
6,Europe,7,United Kingdom,UCL (University College London),6345,2554,31080,14854,0.204151
99,North America,100,United States,Washington University in St. Louis,2699,784,13474,2706,0.200312
146,North America,147,United States,Emory University,2560,484,12852,2154,0.199191
2,North America,3,United States,Harvard University,4350,1311,22429,5266,0.193945
184,Europe,182,Belgium,Vrije Universiteit Brussel (VUB),1792,515,9284,1853,0.193020
20,North America,21,United States,Duke University,2938,226,15320,2864,0.191775
73,Europe,73,Switzerland,University of Zurich,4997,2617,26065,5036,0.191713
76,Asia,76,Japan,Tohoku University,3411,264,17827,1604,0.191339
156,Europe,157,France,École Normale Supérieure de Lyon,382,91,2020,221,0.189109
142,North America,142,United States,University of Pittsburgh,4982,572,26393,2937,0.188762
8,North America,9,United States,University of Chicago,2449,635,13557,3379,0.180645
123,Europe,124,Netherlands,Wageningen University,2277,323,12695,3613,0.179362
35,Asia,36,Japan,Kyoto University,4060,293,22974,1990,0.176722
...,...,...,...,...,...,...,...,...,...
44,Oceania,45,Australia,The University of New South Wales (UNSW Sydney),2924,1612,39784,14292,0.073497
160,Asia,161,Taiwan,National Tsing Hua University,1020,119,13890,1187,0.073434
49,Oceania,50,Australia,The University of Sydney,3360,1829,46678,17030,0.071983
140,Europe,141,Germany,RWTH Aachen University,3176,449,44517,8556,0.071344
32,North America,33,United States,"University of California, Los Angeles (UCLA)",2859,662,40114,6887,0.071272
125,Europe,125,Belgium,Ghent University,2520,482,35968,3766,0.070062
106,Europe,107,Germany,"KIT, Karlsruhe Institute of Technology",1827,410,26081,4809,0.070051
81,Oceania,82,New Zealand,The University of Auckland,2047,645,29641,8568,0.069060
197,Europe,195,Spain,Universitat Autònoma de Barcelona,2187,230,31986,3848,0.068374
150,Oceania,151,New Zealand,University of Otago,1266,759,18532,3871,0.068314
148,North America,149,United States,Michigan State University,2884,653,44951,7427,0.064159
133,North America,134,United States,"University of California, Santa Barbara (UCSB)",1449,267,23149,2128,0.062594
171,Asia,172,India,Indian Institute of Technology Delhi (IITD),466,4,7477,80,0.062324
68,North America,69,United States,University of Illinois at Urbana-Champaign,2554,259,42427,9483,0.060198
165,North America,164,United States,"University of California, Irvine",1926,377,32151,8538,0.059905
119,Europe,120,Germany,Humboldt-Universität zu Berlin,1966,407,33198,4805,0.059220
66,North America,67,United States,University of Texas at Austin,2833,108,47995,4744,0.059027
196,North America,195,United States,Texas A&M University,3446,206,60294,4900,0.057153
59,Oceania,60,Australia,Monash University,3204,1679,57433,20578,0.055787
70,Europe,71,Belgium,KU Leuven,2515,784,45538,6926,0.055229
175,Oceania,176,Australia,University of Technology Sydney,1328,546,24207,7769,0.054860
69,North America,70,United States,Georgia Institute of Technology,1133,75,21082,4761,0.053743
152,Europe,153,Belgium,Université catholique de Louvain (UCL),1219,406,24277,4468,0.050212
151,North America,152,Canada,University of Waterloo,1689,473,35541,8962,0.047523
187,Europe,188,Italy,Alma Mater Studiorum - University of Bologna,2990,153,63399,4195,0.047162
60,North America,61,United States,University of Washington,2484,550,56973,8373,0.043600
124,Europe,125,Germany,Freie Universitaet Berlin,1375,305,32912,5735,0.041778
169,Europe,170,Italy,Politecnico di Milano,1500,231,36277,5593,0.041349
181,Europe,182,Austria,Vienna University of Technology,706,172,17479,5199,0.040391
51,North America,52,United States,New York University (NYU),0,0,0,0,NaN

,region,overall_rank,location,name,total faculty,international faculty,number of students,international students,ratio
34,Europe,35,United Kingdom,London School of Economics and Political Scien...,1088,687,9760,6748,0.691393
11,Europe,12,Switzerland,Ecole Polytechnique Fédérale de Lausanne (EPFL),1695,1300,10343,5896,0.570047
7,Europe,8,United Kingdom,Imperial College London,3930,2071,16090,8746,0.543567
199,Europe,200,Netherlands,Maastricht University,1277,502,16385,8234,0.502533
46,North America,47,United States,Carnegie Mellon University,1342,425,13356,6385,0.478062
6,Europe,7,United Kingdom,UCL (University College London),6345,2554,31080,14854,0.477928
91,Europe,92,United Kingdom,University of St Andrews,1140,485,8800,4030,0.457955
41,Oceania,41,Australia,The University of Melbourne,3311,1477,42182,18030,0.427434
126,Europe,127,United Kingdom,Queen Mary University of London,1885,801,16135,6806,0.421816
25,Asia,26,Hong Kong,The University of Hong Kong,3012,2085,20214,8230,0.407144
22,Europe,23,United Kingdom,King's College London,3650,1513,23780,9451,0.397435
112,Europe,113,Netherlands,University of Groningen,3351,1137,27549,10780,0.391303
56,Europe,57,United Kingdom,The University of Warwick,2093,890,19855,7703,0.387963
98,Europe,98,Switzerland,University of Geneva,1752,1029,15844,6104,0.385256
19,Oceania,20,Australia,The Australian National University,1600,927,14442,5551,0.384365
109,Oceania,109,Australia,The University of Adelaide,1729,633,21240,8114,0.382015
9,Europe,10,Switzerland,ETH Zurich - Swiss Federal Institute of Techno...,2477,1886,19815,7563,0.381681
23,Europe,23,United Kingdom,The University of Edinburgh,4075,1553,28040,10551,0.376284
5,Europe,6,United Kingdom,University of Oxford,6750,2964,19720,7353,0.372870
33,Europe,34,United Kingdom,The University of Manchester,4910,1653,36670,13514,0.368530
49,Oceania,50,Australia,The University of Sydney,3360,1829,46678,17030,0.364840
134,Europe,135,United Kingdom,Lancaster University,1245,435,12300,4464,0.362927
44,Oceania,45,Australia,The University of New South Wales (UNSW Sydney),2924,1612,39784,14292,0.359240
59,Oceania,60,Australia,Monash University,3204,1679,57433,20578,0.358296
4,Europe,5,United Kingdom,University of Cambridge,5490,2278,18770,6699,0.356899
48,Asia,49,Hong Kong,City University of Hong Kong,1349,1027,9240,3273,0.354221
157,Europe,158,United Kingdom,University of Aberdeen,1310,508,12005,4246,0.353686
82,Europe,82,United Kingdom,The University of Sheffield,3065,938,25430,8745,0.343885
64,Europe,65,United Kingdom,University of Glasgow,2775,956,23815,8149,0.342179
173,Europe,173,United Kingdom,University of Liverpool,2390,717,22065,7502,0.339995
...,...,...,...,...,...,...,...,...,...
133,North America,134,United States,"University of California, Santa Barbara (UCSB)",1449,267,23149,2128,0.091926
113,Asia,114,China,Nanjing University,2449,617,32495,2960,0.091091
192,Europe,192,Italy,Scuola Normale Superiore di Pisa,86,1,532,48,0.090226
76,Asia,76,Japan,Tohoku University,3411,264,17827,1604,0.089976
183,North America,182,United States,University of Colorado Boulder,3685,566,30219,2679,0.088653
174,North America,173,United States,University of Virginia,2509,487,21560,1899,0.088080
110,Europe,109,Netherlands,Utrecht University,3067,653,31754,2771,0.087265
35,Asia,36,Japan,Kyoto University,4060,293,22974,1990,0.086620
160,Asia,161,Taiwan,National Tsing Hua University,1020,119,13890,1187,0.085457
36,Asia,36,South Korea,Seoul National University,3930,433,28064,2331,0.083060
196,North America,195,United States,Texas A&M University,3446,206,60294,4900,0.081268
121,Asia,122,Japan,Hokkaido University,2605,210,17552,1347,0.076743
79,North America,80,United States,"University of North Carolina, Chapel Hill",4083,524,25373,1934,0.076223
61,Asia,62,China,Shanghai Jiao Tong University,3544,887,38931,2858,0.073412
164,Europe,164,Norway,University of Bergen,1513,484,10671,767,0.071877
187,Europe,188,Italy,Alma Mater Studiorum - University of Bologna,2990,153,63399,4195,0.066168
191,Asia,192,Japan,Keio University CEMS MIM,3905,261,33500,2178,0.065015
144,Asia,145,Israel,The Hebrew University of Jerusalem,2249,454,16531,1034,0.062549
40,Asia,41,South Korea,KAIST - Korea Advanced Institute of Science & ...,1250,147,9826,584,0.059434
101,Europe,102,Finland,University of Helsinki,2645,535,22419,1234,0.055043
71,Asia,71,South Korea,Pohang University of Science And Technology (P...,664,113,3117,126,0.040423
138,Latin America,137,Chile,Pontificia Universidad Católica de Chile (UC),2260,198,27003,991,0.036700
182,Latin America,182,Brazil,Universidade Estadual de Campinas (Unicamp),1968,109,26572,966,0.036354
96,Asia,97,China,University of Science and Technology of China,1992,155,16032,548,0.034182
120,Latin America,121,Brazil,Universidade de São Paulo,5582,279,65711,2086,0.031745
122,Latin America,122,Mexico,Universidad Nacional Autónoma de México (UNAM),15073,949,141939,2173,0.015309
189,Asia,190,India,Indian Institute of Science (IISc) Bangalore,423,0,4071,47,0.011545
171,Asia,172,India,Indian Institute of Technology Delhi (IITD),466,4,7477,80,0.010699
178,Asia,179,India,Indian Institute of Technology Bombay (IITB),876,19,9402,93,0.009892
51,North America,52,United States,New York University (NYU),0,0,0,0,NaN

### c)

In [15]:
display_ratio(df.groupby('location').sum())

,total faculty,international faculty,number of students,international students,ratio
location,,,,,
Russia,6709,373,30233,5098,0.221910
Denmark,11916,3904,67223,9543,0.177261
Saudi Arabia,1062,665,6040,989,0.175828
Singapore,9444,6079,58466,16168,0.161530
Malaysia,2755,655,17902,3476,0.153893
Japan,28395,2221,186222,16269,0.152479
South Korea,19851,2010,140071,16273,0.141721
Switzerland,15323,9208,109112,32995,0.140434
United Kingdom,79934,30216,583621,199426,0.136962
Israel,2249,454,16531,1034,0.136047
Argentina,16421,3165,122301,27109,0.134267
Hong Kong,10166,6296,78838,24499,0.128948
United States,152806,33102,1264839,218877,0.120811
China,27220,6720,235898,26833,0.115389
Norway,4022,1195,34975,4434,0.114996
France,4011,815,35235,6864,0.113836
Finland,3902,905,34566,3065,0.112885
Mexico,16895,1770,155315,3585,0.108779
Canada,29317,10734,281514,73239,0.104140
Netherlands,20287,5683,197631,46044,0.102651
Germany,38339,7071,376528,61384,0.101822
Sweden,10329,3062,103353,17644,0.099939
South Africa,1733,379,19593,3325,0.088450
India,1765,23,20950,220,0.084248
Spain,8788,519,104499,12958,0.084096
Chile,2260,198,27003,991,0.083694
Taiwan,3827,339,46085,4339,0.083042
Ireland,2853,1171,34794,8187,0.081997
Brazil,7550,388,92283,3052,0.081814
Australia,22034,11382,301994,106359,0.072962
Belgium,8046,2187,115067,17013,0.069924
New Zealand,3313,1404,48173,12439,0.068773
Austria,4117,1572,63446,19667,0.064890
Italy,4695,386,100997,9971,0.046487

,total faculty,international faculty,number of students,international students,ratio
location,,,,,
Australia,22034,11382,301994,106359,0.352189
United Kingdom,79934,30216,583621,199426,0.341705
Hong Kong,10166,6296,78838,24499,0.310751
Austria,4117,1572,63446,19667,0.309980
Switzerland,15323,9208,109112,32995,0.302396
Singapore,9444,6079,58466,16168,0.276537
Canada,29317,10734,281514,73239,0.260161
New Zealand,3313,1404,48173,12439,0.258215
Ireland,2853,1171,34794,8187,0.235299
Netherlands,20287,5683,197631,46044,0.232980
Argentina,16421,3165,122301,27109,0.221658
France,4011,815,35235,6864,0.194806
Malaysia,2755,655,17902,3476,0.194168
United States,152806,33102,1264839,218877,0.173047
Sweden,10329,3062,103353,17644,0.170716
South Africa,1733,379,19593,3325,0.169703
Russia,6709,373,30233,5098,0.168624
Saudi Arabia,1062,665,6040,989,0.163742
Germany,38339,7071,376528,61384,0.163026
Belgium,8046,2187,115067,17013,0.147853
Denmark,11916,3904,67223,9543,0.141960
Norway,4022,1195,34975,4434,0.126776
Spain,8788,519,104499,12958,0.124001
South Korea,19851,2010,140071,16273,0.116177
China,27220,6720,235898,26833,0.113748
Italy,4695,386,100997,9971,0.098726
Taiwan,3827,339,46085,4339,0.094152
Finland,3902,905,34566,3065,0.088671
Japan,28395,2221,186222,16269,0.087363
Israel,2249,454,16531,1034,0.062549
Chile,2260,198,27003,991,0.036700
Brazil,7550,388,92283,3052,0.033072
Mexico,16895,1770,155315,3585,0.023082
India,1765,23,20950,220,0.010501

### d)

In [16]:
display_ratio(df.groupby('region').sum())

,total faculty,international faculty,number of students,international students,ratio
region,,,,,
Asia,106734,25462,807003,110100,0.132260
North America,182123,43836,1546353,292116,0.117776
Europe,223271,68267,1991280,454293,0.112124
Latin America,43126,5521,396902,34737,0.108657
Africa,1733,379,19593,3325,0.088450
Oceania,25347,12786,350167,118798,0.072385

,total faculty,international faculty,number of students,international students,ratio
region,,,,,
Oceania,25347,12786,350167,118798,0.339261
Europe,223271,68267,1991280,454293,0.228141
North America,182123,43836,1546353,292116,0.188906
Africa,1733,379,19593,3325,0.169703
Asia,106734,25462,807003,110100,0.136431
Latin America,43126,5521,396902,34737,0.087520

In [17]:
end = datetime.datetime.now()
print(end - start)

0:00:43.693253

In [18]:
r = requests.get('https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json')
json = r.json()['data']

In [19]:
df_2 = pd.DataFrame(json)
df_2 = df_2[['aliases','name','location','rank','stats_number_students','stats_pc_intl_students','stats_student_staff_ratio']]
df_2 = df_2.head(200)
display(df_2)

,aliases,name,location,rank,stats_number_students,stats_pc_intl_students,stats_student_staff_ratio
0,University of Oxford,University of Oxford,United Kingdom,1,"20,409",38%,11.2
1,University of Cambridge,University of Cambridge,United Kingdom,2,"18,389",35%,10.9
2,California Institute of Technology caltech,California Institute of Technology,United States,=3,"2,209",27%,6.5
3,Stanford University,Stanford University,United States,=3,"15,845",22%,7.5
4,Massachusetts Institute of Technology,Massachusetts Institute of Technology,United States,5,"11,177",34%,8.7
5,Harvard University,Harvard University,United States,6,"20,326",26%,8.9
6,Princeton University,Princeton University,United States,7,"7,955",24%,8.3
7,Imperial College London,Imperial College London,United Kingdom,8,"15,857",55%,11.4
8,University of Chicago,University of Chicago,United States,9,"13,525",25%,6.2
9,ETH Zurich – Swiss Federal Institute of Techno...,ETH Zurich – Swiss Federal Institute of Techno...,Switzerland,=10,"19,233",38%,14.6
10,University of Pennsylvania,University of Pennsylvania,United States,=10,"20,361",20%,6.5
11,Yale University,Yale University,United States,12,"12,155",21%,4.3
12,Johns Hopkins University,Johns Hopkins University,United States,13,"15,498",24%,4.3
13,Columbia University,Columbia University,United States,14,"26,587",32%,6.1
14,"University of California, Los Angeles","University of California, Los Angeles",United States,15,"39,279",17%,9.6
15,University College London ucl,University College London,United Kingdom,16,"30,304",49%,10.5
16,Duke University,Duke University,United States,17,"15,256",22%,4.5
17,"University of California, Berkeley","University of California, Berkeley",United States,18,"36,182",17%,13.1
18,Cornell University,Cornell University,United States,19,"21,850",24%,9.8
19,Northwestern University,Northwestern University,United States,20,"17,466",18%,12.8
20,University of Michigan,University of Michigan,United States,21,"41,818",16%,8.6
21,National University of Singapore nus,National University of Singapore,Singapore,=22,"30,602",30%,17.0
22,University of Toronto,University of Toronto,Canada,=22,"69,427",17%,18.7
23,Carnegie Mellon University,Carnegie Mellon University,United States,24,"12,676",45%,13.5
24,London School of Economics and Political Science,London School of Economics and Political Science,United Kingdom,=25,"10,065",71%,12.2
25,University of Washington,University of Washington,United States,=25,"44,945",16%,11.4
26,University of Edinburgh,University of Edinburgh,United Kingdom,=27,"26,759",40%,12.5
27,New York University,New York University,United States,=27,"43,860",26%,9.6
28,Peking University,Peking University,China,=27,"42,136",16%,8.9
29,Tsinghua University Qinghua University Tsing h...,Tsinghua University,China,30,"42,089",9%,13.7
...,...,...,...,...,...,...,...
170,University of Cape Town,University of Cape Town,South Africa,171,"20,775",18%,11.7
171,"Rutgers, the State University of New Jersey","Rutgers, the State University of New Jersey",United States,172,"43,439",10%,11.1
172,KTH Royal Institute of Technology,KTH Royal Institute of Technology,Sweden,=173,"12,951",17%,16.0
173,University of Münster,University of Münster,Germany,=173,"42,287",7%,42.6
174,Université Libre de Bruxelles,Université Libre de Bruxelles,Belgium,=175,"25,343",35%,43.4
175,Newcastle University,Newcastle University,United Kingdom,=175,"20,952",30%,15.6
176,University of Liverpool,University of Liverpool,United Kingdom,=177,"19,815",35%,11.7
177,Zhejiang University ZJU Zhejiang University Ch...,Zhejiang University,China,=177,"50,051",6%,14.1
178,University of Luxembourg,University of Luxembourg,Luxembourg,=179,"4,969",57%,14.6
179,University of Twente,University of Twente,Netherlands,=179,"6,697",27%,12.8
180,Paris-Sud University,Paris-Sud University,France,181,"27,221",16%,14.5
181,École Normale Supérieure de Lyon,École Normale Supérieure de Lyon,France,=182,"2,221",13%,8.5
182,Hong Kong Polytechnic University hkpu hong kon...,Hong Kong Polytechnic University,Hong Kong,=182,"21,773",25%,26.9
183,Scuola Normale Superiore di Pisa,Scuola Normale Superiore di Pisa,Italy,184,515,7%,5.2
184,University of Aberdeen,University of Aberdeen,United Kingdom,185,"12,055",36%,13.9
185,University of Miami,University of Miami,United States,186,"15,860",16%,5.9
186,University of Dundee,University of Dundee,United Kingdom,187,"10,893",24%,14.9
187,University of East Anglia,University of East Anglia,United Kingdom,=188,"13,521",30%,13.6
188,Shanghai Jiao Tong University,Shanghai Jiao Tong University,China,=188,"37,288",6%,12.4
189,Aalto University,Aalto University,Finland,190,"12,744",20%,20.2
190,University of Massachusetts,University of Massachusetts,United States,191,"59,230",14%,13.3
191,University of Auckland,University of Auckland,New Zealand,192,"30,348",29%,18.8
192,Northeastern University,Northeastern University,United States,193,"18,780",32%,14.0
193,Lomonosov Moscow State University,Lomonosov Moscow State University,Russian Federation,194,"29,236",22%,7.3
194,Tilburg University,Tilburg University,Netherlands,195,"7,738",13%,22.5
195,Paris-Sorbonne University – Paris 4,Paris-Sorbonne University – Paris 4,France,196,"22,042",15%,30.2
196,"Royal Holloway, University of London","Royal Holloway, University of London",United Kingdom,197,"8,931",40%,15.4
197,"University of California, Riverside","University of California, Riverside",United States,=198,"20,740",14%,20.7
198,University of Gothenburg,University of Gothenburg,Sweden,=198,"18,378",13%,10.0
199,National Taiwan University,National Taiwan University,Taiwan,=198,"31,758",8%,11.5

In [20]:
def format_rank(x):
    return int(x.replace('=',''))

def format_percentage_students(x):
    return int(x.replace('%','')) /100

def format_number_students(x):
    return int(x.replace(',',''))

def get_continent(country):
    return ctca2_to_ctn.get(ccn_to_ctca2.get(cn_to_ccn.get(country)))

In [21]:
# TODO: Care for the rank if tie

df_2['stats_pc_intl_students'] = df_2['stats_pc_intl_students'].apply(lambda x: format_percentage_students(x))
df_2['rank'] = df_2['rank'].apply(lambda x: format_rank(x))
df_2['stats_number_students'] = df_2['stats_number_students'].apply(lambda x: format_number_students(x))
df_2['stats_student_staff_ratio'] = df_2['stats_student_staff_ratio'].apply(pd.to_numeric)


df_2['international students'] = df_2['stats_number_students'] * df_2['stats_pc_intl_students']
df_2['total faculty'] = (df_2['stats_number_students'] / df_2['stats_student_staff_ratio']).astype(int)
df_2 = df_2.drop(['stats_pc_intl_students','stats_student_staff_ratio'],1)
df_2['region'] = df_2['location'].apply(lambda x: get_continent(x))

In [22]:
df_2 = df_2.rename(columns={'stats_number_students': 'number of students'})

display(df_2)

,aliases,name,location,rank,number of students,international students,total faculty,region
0,University of Oxford,University of Oxford,United Kingdom,1,20409,7755.42,1822,Europe
1,University of Cambridge,University of Cambridge,United Kingdom,2,18389,6436.15,1687,Europe
2,California Institute of Technology caltech,California Institute of Technology,United States,3,2209,596.43,339,North America
3,Stanford University,Stanford University,United States,3,15845,3485.90,2112,North America
4,Massachusetts Institute of Technology,Massachusetts Institute of Technology,United States,5,11177,3800.18,1284,North America
5,Harvard University,Harvard University,United States,6,20326,5284.76,2283,North America
6,Princeton University,Princeton University,United States,7,7955,1909.20,958,North America
7,Imperial College London,Imperial College London,United Kingdom,8,15857,8721.35,1390,Europe
8,University of Chicago,University of Chicago,United States,9,13525,3381.25,2181,North America
9,ETH Zurich – Swiss Federal Institute of Techno...,ETH Zurich – Swiss Federal Institute of Techno...,Switzerland,10,19233,7308.54,1317,Europe
10,University of Pennsylvania,University of Pennsylvania,United States,10,20361,4072.20,3132,North America
11,Yale University,Yale University,United States,12,12155,2552.55,2826,North America
12,Johns Hopkins University,Johns Hopkins University,United States,13,15498,3719.52,3604,North America
13,Columbia University,Columbia University,United States,14,26587,8507.84,4358,North America
14,"University of California, Los Angeles","University of California, Los Angeles",United States,15,39279,6677.43,4091,North America
15,University College London ucl,University College London,United Kingdom,16,30304,14848.96,2886,Europe
16,Duke University,Duke University,United States,17,15256,3356.32,3390,North America
17,"University of California, Berkeley","University of California, Berkeley",United States,18,36182,6150.94,2761,North America
18,Cornell University,Cornell University,United States,19,21850,5244.00,2229,North America
19,Northwestern University,Northwestern University,United States,20,17466,3143.88,1364,North America
20,University of Michigan,University of Michigan,United States,21,41818,6690.88,4862,North America
21,National University of Singapore nus,National University of Singapore,Singapore,22,30602,9180.60,1800,Asia
22,University of Toronto,University of Toronto,Canada,22,69427,11802.59,3712,North America
23,Carnegie Mellon University,Carnegie Mellon University,United States,24,12676,5704.20,938,North America
24,London School of Economics and Political Science,London School of Economics and Political Science,United Kingdom,25,10065,7146.15,825,Europe
25,University of Washington,University of Washington,United States,25,44945,7191.20,3942,North America
26,University of Edinburgh,University of Edinburgh,United Kingdom,27,26759,10703.60,2140,Europe
27,New York University,New York University,United States,27,43860,11403.60,4568,North America
28,Peking University,Peking University,China,27,42136,6741.76,4734,Asia
29,Tsinghua University Qinghua University Tsing h...,Tsinghua University,China,30,42089,3788.01,3072,Asia
...,...,...,...,...,...,...,...,...
170,University of Cape Town,University of Cape Town,South Africa,171,20775,3739.50,1775,Africa
171,"Rutgers, the State University of New Jersey","Rutgers, the State University of New Jersey",United States,172,43439,4343.90,3913,North America
172,KTH Royal Institute of Technology,KTH Royal Institute of Technology,Sweden,173,12951,2201.67,809,Europe
173,University of Münster,University of Münster,Germany,173,42287,2960.09,992,Europe
174,Université Libre de Bruxelles,Université Libre de Bruxelles,Belgium,175,25343,8870.05,583,Europe
175,Newcastle University,Newcastle University,United Kingdom,175,20952,6285.60,1343,Europe
176,University of Liverpool,University of Liverpool,United Kingdom,177,19815,6935.25,1693,Europe
177,Zhejiang University ZJU Zhejiang University Ch...,Zhejiang University,China,177,50051,3003.06,3549,Asia
178,University of Luxembourg,University of Luxembourg,Luxembourg,179,4969,2832.33,340,Europe
179,University of Twente,University of Twente,Netherlands,179,6697,1808.19,523,Europe
180,Paris-Sud University,Paris-Sud University,France,181,27221,4355.36,1877,Europe
181,École Normale Supérieure de Lyon,École Normale Supérieure de Lyon,France,182,2221,288.73,261,Europe
182,Hong Kong Polytechnic University hkpu hong kon...,Hong Kong Polytechnic University,Hong Kong,182,21773,5443.25,809,Asia
183,Scuola Normale Superiore di Pisa,Scuola Normale Superiore di Pisa,Italy,184,515,36.05,99,Europe
184,University of Aberdeen,University of Aberdeen,United Kingdom,185,12055,4339.80,867,Europe
185,University of Miami,University of Miami,United States,186,15860,2537.60,2688,North America
186,University of Dundee,University of Dundee,United Kingdom,187,10893,2614.32,731,Europe
187,University of East Anglia,University of East Anglia,United Kingdom,188,13521,4056.30,994,Europe
188,Shanghai Jiao Tong University,Shanghai Jiao Tong University,China,188,37288,2237.28,3007,Asia
189,Aalto University,Aalto University,Finland,190,12744,2548.80,630,Europe
190,University of Massachusetts,University of Massachusetts,United States,191,59230,8292.20,4453,North America
191,University of Auckland,University of Auckland,New Zealand,192,30348,8800.92,1614,Oceania
192,Northeastern University,Northeastern University,United States,193,18780,6009.60,1341,North America
193,Lomonosov Moscow State University,Lomonosov Moscow State University,Russian Federation,194,29236,6431.92,4004,Europe
194,Tilburg University,Tilburg University,Netherlands,195,7738,1005.94,343,Europe
195,Paris-Sorbonne University – Paris 4,Paris-Sorbonne University – Paris 4,France,196,22042,3306.30,729,Europe
196,"Royal Holloway, University of London","Royal Holloway, University of London",United Kingdom,197,8931,3572.40,579,Europe
197,"University of California, Riverside","University of California, Riverside",United States,198,20740,2903.60,1001,North America
198,University of Gothenburg,University of Gothenburg,Sweden,198,18378,2389.14,1837,Europe
199,National Taiwan University,National Taiwan University,Taiwan,198,31758,2540.64,2761,Asia

In [23]:
display_ratio(df_2)

,aliases,name,location,rank,number of students,international students,total faculty,region,ratio
105,Vanderbilt University,Vanderbilt University,United States,105,12011,1561.43,3639,North America,0.302972
109,University of Copenhagen,University of Copenhagen,Denmark,109,30395,4255.30,7413,Europe,0.243889
12,Johns Hopkins University,Johns Hopkins University,United States,13,15498,3719.52,3604,North America,0.232546
11,Yale University,Yale University,United States,12,12155,2552.55,2826,North America,0.232497
153,University of Rochester,University of Rochester,United States,153,9636,2794.44,2240,North America,0.232462
97,Emory University,Emory University,United States,98,12649,2403.31,2874,North America,0.227212
16,Duke University,Duke University,United States,17,15256,3356.32,3390,North America,0.222208
114,École Polytechnique,École Polytechnique,France,115,2799,1007.64,548,Europe,0.195784
183,Scuola Normale Superiore di Pisa,Scuola Normale Superiore di Pisa,Italy,184,515,36.05,99,Europe,0.192233
185,University of Miami,University of Miami,United States,186,15860,2537.60,2688,North America,0.169483
135,University of Zurich,University of Zurich,Switzerland,136,26363,5272.60,4468,Europe,0.169480
101,University of Pittsburgh,University of Pittsburgh,United States,100,26367,2636.70,4468,North America,0.169454
152,Technical University of Denmark,Technical University of Denmark,Denmark,153,8548,2051.52,1424,Europe,0.166589
13,Columbia University,Columbia University,United States,14,26587,8507.84,4358,North America,0.163915
8,University of Chicago,University of Chicago,United States,9,13525,3381.25,2181,North America,0.161257
10,University of Pennsylvania,University of Pennsylvania,United States,10,20361,4072.20,3132,North America,0.153823
2,California Institute of Technology caltech,California Institute of Technology,United States,3,2209,596.43,339,North America,0.153463
88,Dartmouth College,Dartmouth College,United States,89,6100,915.00,924,North America,0.151475
45,University of Tokyo,University of Tokyo,Japan,46,26000,2600.00,3880,Asia,0.149231
157,Case Western Reserve University,Case Western Reserve University,United States,158,10130,1924.70,1426,North America,0.140770
193,Lomonosov Moscow State University,Lomonosov Moscow State University,Russian Federation,194,29236,6431.92,4004,Europe,0.136954
50,Washington University in St Louis,Washington University in St Louis,United States,50,12600,2142.00,1680,North America,0.133333
3,Stanford University,Stanford University,United States,3,15845,3485.90,2112,North America,0.133291
131,University of Science and Technology of China,University of Science and Technology of China,China,132,16032,480.96,1955,Asia,0.121944
6,Princeton University,Princeton University,United States,7,7955,1909.20,958,North America,0.120427
181,École Normale Supérieure de Lyon,École Normale Supérieure de Lyon,France,182,2221,288.73,261,Europe,0.117515
20,University of Michigan,University of Michigan,United States,21,41818,6690.88,4862,North America,0.116266
122,Georgetown University,Georgetown University,United States,123,15956,2712.52,1855,North America,0.116257
69,Boston University,Boston University,United States,70,24833,6208.25,2887,North America,0.116257
73,Kyoto University,Kyoto University,Japan,74,22481,1798.48,2584,Asia,0.114942
...,...,...,...,...,...,...,...,...,...
134,Stockholm University,Stockholm University,Sweden,134,33156,2652.48,1331,Europe,0.040144
132,Karlsruhe Institute of Technology,Karlsruhe Institute of Technology,Germany,133,25824,4648.32,981,Europe,0.037988
31,University of Melbourne,University of Melbourne,Australia,32,42116,16846.40,1583,Oceania,0.037587
84,University of New South Wales unsw australia unsw,University of New South Wales,Australia,85,40133,13645.22,1503,Oceania,0.037450
182,Hong Kong Polytechnic University hkpu hong kon...,Hong Kong Polytechnic University,Hong Kong,182,21773,5443.25,809,Asia,0.037156
112,University of Göttingen,University of Göttingen,Germany,113,28554,3426.48,1023,Europe,0.035827
52,"University of California, Santa Barbara","University of California, Santa Barbara",United States,53,23054,3227.56,820,North America,0.035569
156,Ulm University,Ulm University,Germany,155,10657,1385.41,375,Europe,0.035188
195,Paris-Sorbonne University – Paris 4,Paris-Sorbonne University – Paris 4,France,196,22042,3306.30,729,Europe,0.033073
80,Monash University,Monash University,Australia,80,46846,13116.88,1390,Oceania,0.029672
166,University of Würzburg,University of Würzburg,Germany,165,22537,2028.33,664,Europe,0.029463
133,University of Adelaide,University of Adelaide,Australia,134,21241,5522.66,619,Oceania,0.029142
64,University of Queensland,University of Queensland,Australia,65,38968,10131.68,1091,Oceania,0.027997
106,Ghent University,Ghent University,Belgium,107,35909,3590.90,1000,Europe,0.027848
155,TU Dresden,TU Dresden,Germany,155,34514,4486.82,961,Europe,0.027844
46,KU Leuven,KU Leuven,Belgium,47,44412,6661.80,1197,Europe,0.026952
128,Université Catholique de Louvain,Université Catholique de Louvain,Belgium,129,24451,4645.69,646,Europe,0.026420
93,University of Tübingen,University of Tübingen,Germany,94,27844,3619.72,723,Europe,0.025966
81,University of Freiburg,University of Freiburg,Germany,82,20871,3965.49,517,Europe,0.024771
173,University of Münster,University of Münster,Germany,173,42287,2960.09,992,Europe,0.023459
174,Université Libre de Bruxelles,Université Libre de Bruxelles,Belgium,175,25343,8870.05,583,Europe,0.023004
144,University of Cologne,University of Cologne,Germany,145,45087,4508.70,885,Europe,0.019629
40,Technical University of Munich,Technical University of Munich,Germany,41,38689,8898.47,711,Europe,0.018377
61,Humboldt University of Berlin,Humboldt University of Berlin,Germany,62,32172,5469.24,569,Europe,0.017686
87,Free University of Berlin,Free University of Berlin,Germany,88,34114,7163.94,598,Europe,0.017529
78,RWTH Aachen University,RWTH Aachen University,Germany,79,43721,7869.78,757,Europe,0.017314
163,University of Erlangen-Nuremberg,University of Erlangen-Nuremberg,Germany,162,38730,4647.60,662,Europe,0.017093
91,Technical University of Berlin,Technical University of Berlin,Germany,92,22390,4478.00,348,Europe,0.015543
124,University of Mannheim,University of Mannheim,Germany,125,10995,1759.20,147,Europe,0.013370
99,University of Bonn,University of Bonn,Germany,100,35619,4630.47,457,Europe,0.012830

,aliases,name,location,rank,number of students,international students,total faculty,region,ratio
24,London School of Economics and Political Science,London School of Economics and Political Science,United Kingdom,25,10065,7146.15,825,Europe,0.71
178,University of Luxembourg,University of Luxembourg,Luxembourg,179,4969,2832.33,340,Europe,0.57
7,Imperial College London,Imperial College London,United Kingdom,8,15857,8721.35,1390,Europe,0.55
37,École Polytechnique Fédérale de Lausanne,École Polytechnique Fédérale de Lausanne,Switzerland,38,9928,5460.40,886,Europe,0.55
102,Maastricht University,Maastricht University,Netherlands,103,16727,8363.50,929,Europe,0.50
15,University College London ucl,University College London,United Kingdom,16,30304,14848.96,2886,Europe,0.49
143,University of St Andrews,University of St Andrews,United Kingdom,143,9005,4322.40,692,Europe,0.48
23,Carnegie Mellon University,Carnegie Mellon University,United States,24,12676,5704.20,938,North America,0.45
120,Queen Mary University of London,Queen Mary University of London,United Kingdom,121,15405,6932.25,1158,Europe,0.45
39,University of Hong Kong HKU hku The University...,University of Hong Kong,Hong Kong,40,18364,7712.88,1020,Asia,0.42
35,King’s College London,King’s College London,United Kingdom,36,23207,9514.87,1933,Europe,0.41
31,University of Melbourne,University of Melbourne,Australia,32,42116,16846.40,1583,Oceania,0.40
130,University of Geneva,University of Geneva,Switzerland,130,16085,6434.00,1065,Europe,0.40
196,"Royal Holloway, University of London","Royal Holloway, University of London",United Kingdom,197,8931,3572.40,579,Europe,0.40
26,University of Edinburgh,University of Edinburgh,United Kingdom,27,26759,10703.60,2140,Europe,0.40
90,University of Warwick,University of Warwick,United Kingdom,91,18424,7185.36,1417,Europe,0.39
149,Lancaster University,Lancaster University,United Kingdom,150,11637,4422.06,888,Europe,0.38
0,University of Oxford,University of Oxford,United Kingdom,1,20409,7755.42,1822,Europe,0.38
158,University of Leicester,University of Leicester,United Kingdom,159,14635,5561.30,1037,Europe,0.38
9,ETH Zurich – Swiss Federal Institute of Techno...,ETH Zurich – Swiss Federal Institute of Techno...,Switzerland,10,19233,7308.54,1317,Europe,0.38
54,University of Manchester,University of Manchester,United Kingdom,54,35318,13420.84,2419,Europe,0.38
148,University of Sussex,University of Sussex,United Kingdom,147,12384,4705.92,804,Europe,0.38
184,University of Aberdeen,University of Aberdeen,United Kingdom,185,12055,4339.80,867,Europe,0.36
103,University of Sheffield,University of Sheffield,United Kingdom,104,24581,8849.16,1649,Europe,0.36
114,École Polytechnique,École Polytechnique,France,115,2799,1007.64,548,Europe,0.36
79,University of Glasgow,University of Glasgow,United Kingdom,80,23389,8420.04,1518,Europe,0.36
119,City University of Hong Kong CityU HK City U H...,City University of Hong Kong,Hong Kong,119,9240,3234.00,825,Asia,0.35
174,Université Libre de Bruxelles,Université Libre de Bruxelles,Belgium,175,25343,8870.05,583,Europe,0.35
1,University of Cambridge,University of Cambridge,United Kingdom,2,18389,6436.15,1687,Europe,0.35
176,University of Liverpool,University of Liverpool,United Kingdom,177,19815,6935.25,1693,Europe,0.35
...,...,...,...,...,...,...,...,...,...
101,University of Pittsburgh,University of Pittsburgh,United States,100,26367,2636.70,4468,North America,0.10
45,University of Tokyo,University of Tokyo,Japan,46,26000,2600.00,3880,Asia,0.10
106,Ghent University,Ghent University,Belgium,107,35909,3590.90,1000,Europe,0.10
115,Fudan University,Fudan University,China,116,32859,3285.90,2715,Asia,0.10
100,University of Colorado Boulder,University of Colorado Boulder,United States,100,30780,3078.00,1888,North America,0.10
68,"University of Maryland, College Park","University of Maryland, College Park",United States,69,31772,3177.20,1925,North America,0.10
53,"University of California, Davis","University of California, Davis",United States,54,37365,3736.50,2707,North America,0.10
168,Nanjing University,Nanjing University,China,169,33456,3345.60,2356,Asia,0.10
144,University of Cologne,University of Cologne,Germany,145,45087,4508.70,885,Europe,0.10
160,University of Arizona,University of Arizona,United States,161,38334,3450.06,2948,North America,0.09
159,Texas A&M University,Texas A&M University,United States,159,56245,5062.05,2383,North America,0.09
29,Tsinghua University Qinghua University Tsing h...,Tsinghua University,China,30,42089,3788.01,3072,Asia,0.09
95,Korea Advanced Institute of Science and Techno...,Korea Advanced Institute of Science and Techno...,South Korea,95,9464,851.76,892,None,0.09
166,University of Würzburg,University of Würzburg,Germany,165,22537,2028.33,664,Europe,0.09
142,University of Florida,University of Florida,United States,143,46346,4171.14,2648,North America,0.09
199,National Taiwan University,National Taiwan University,Taiwan,198,31758,2540.64,2761,Asia,0.08
56,University of North Carolina at Chapel Hill,University of North Carolina at Chapel Hill,United States,56,34684,2774.72,3575,North America,0.08
134,Stockholm University,Stockholm University,Sweden,134,33156,2652.48,1331,Europe,0.08
73,Kyoto University,Kyoto University,Japan,74,22481,1798.48,2584,Asia,0.08
165,Vrije Universiteit Amsterdam,Vrije Universiteit Amsterdam,Netherlands,165,24554,1718.78,1356,Europe,0.07
173,University of Münster,University of Münster,Germany,173,42287,2960.09,992,Europe,0.07
67,Utrecht University utrecht utrecht university,Utrecht University,Netherlands,68,31522,2206.54,2073,Europe,0.07
183,Scuola Normale Superiore di Pisa,Scuola Normale Superiore di Pisa,Italy,184,515,36.05,99,Europe,0.07
177,Zhejiang University ZJU Zhejiang University Ch...,Zhejiang University,China,177,50051,3003.06,3549,Asia,0.06
167,University of Alabama at Birmingham,University of Alabama at Birmingham,United States,168,15703,942.18,1033,North America,0.06
89,University of Helsinki,University of Helsinki,Finland,90,22532,1351.92,1390,Europe,0.06
188,Shanghai Jiao Tong University,Shanghai Jiao Tong University,China,188,37288,2237.28,3007,Asia,0.06
136,Pohang University of Science and Technology po...,Pohang University of Science and Technology,South Korea,137,3046,121.84,292,None,0.04
161,"University of California, Santa Cruz","University of California, Santa Cruz",United States,162,17866,714.64,776,North America,0.04
131,University of Science and Technology of China,University of Science and Technology of China,China,132,16032,480.96,1955,Asia,0.03

In [24]:
display_ratio(df_2.groupby('location').sum())

,rank,number of students,international students,total faculty,ratio
location,,,,,
Denmark,371,64110,9326.86,10596,0.165278
Russian Federation,194,29236,6431.92,4004,0.136954
Japan,120,48481,4398.48,6464,0.133331
Italy,339,1205,132.65,157,0.130290
Switzerland,666,107852,32745.97,10048,0.093165
United States,4794,1705533,280364.88,152317,0.089308
Taiwan,198,31758,2540.64,2761,0.086939
South Africa,171,20775,3739.50,1775,0.085439
China,839,253911,22882.57,21388,0.084234
France,869,99378,18975.93,7435,0.074815
United Kingdom,3428,596449,213059.74,44425,0.074482
South Korea,417,63035,6771.90,4511,0.071563
Spain,287,43481,6510.08,3041,0.069939
Luxembourg,179,4969,2832.33,340,0.068424
Sweden,722,125746,16009.07,8481,0.067445
Singapore,74,56101,17085.29,3364,0.059963
Finland,280,35276,3900.72,2020,0.057263
Netherlands,1381,240180,41565.42,13599,0.056620
Norway,146,27730,5268.70,1490,0.053732
Hong Kong,443,77663,25158.79,4140,0.053307
New Zealand,192,30348,8800.92,1614,0.053183
Canada,403,249401,55905.59,13236,0.053071
Austria,165,35375,9197.50,1700,0.048057
Ireland,117,16157,4362.39,708,0.043820
Australia,616,268630,83811.65,9937,0.036991
Belgium,458,130115,23768.44,3426,0.026331
Germany,2169,586364,87491.19,15346,0.026171

,rank,number of students,international students,total faculty,ratio
location,,,,,
Luxembourg,179,4969,2832.33,340,0.570000
United Kingdom,3428,596449,213059.74,44425,0.357214
Hong Kong,443,77663,25158.79,4140,0.323948
Australia,616,268630,83811.65,9937,0.311997
Singapore,74,56101,17085.29,3364,0.304545
Switzerland,666,107852,32745.97,10048,0.303619
New Zealand,192,30348,8800.92,1614,0.290000
Ireland,117,16157,4362.39,708,0.270000
Austria,165,35375,9197.50,1700,0.260000
Canada,403,249401,55905.59,13236,0.224159
Russian Federation,194,29236,6431.92,4004,0.220000
France,869,99378,18975.93,7435,0.190947
Norway,146,27730,5268.70,1490,0.190000
Belgium,458,130115,23768.44,3426,0.182673
South Africa,171,20775,3739.50,1775,0.180000
Netherlands,1381,240180,41565.42,13599,0.173059
United States,4794,1705533,280364.88,152317,0.164385
Spain,287,43481,6510.08,3041,0.149722
Germany,2169,586364,87491.19,15346,0.149210
Denmark,371,64110,9326.86,10596,0.145482
Sweden,722,125746,16009.07,8481,0.127313
Finland,280,35276,3900.72,2020,0.110577
Italy,339,1205,132.65,157,0.110083
South Korea,417,63035,6771.90,4511,0.107431
Japan,120,48481,4398.48,6464,0.090726
China,839,253911,22882.57,21388,0.090120
Taiwan,198,31758,2540.64,2761,0.080000

In [26]:
display_ratio(df_2.groupby('region').sum())

,rank,number of students,international students,total faculty,ratio
region,,,,,
Africa,171,20775,3739.50,1775,0.085439
North America,5197,1954934,336270.47,165553,0.084685
Asia,1674,467914,72065.77,38117,0.081462
Europe,11771,2143623,481578.91,126816,0.059160
Oceania,808,298978,92612.57,11551,0.038635

,rank,number of students,international students,total faculty,ratio
region,,,,,
Oceania,808,298978,92612.57,11551,0.309764
Europe,11771,2143623,481578.91,126816,0.224657
Africa,171,20775,3739.50,1775,0.180000
North America,5197,1954934,336270.47,165553,0.172011
Asia,1674,467914,72065.77,38117,0.154015